* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #f2f2f2;
    font-family: 'helvetica', sans-serif;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

a {
    font-family: 'helvetica', sans-serif;
    font-size: 14px;
    font-style: bold; 
    color: #2f2929;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

h1
{
    font-family: 'helvetica', sans-serif;
    font-style: normal; 
    color: #2f2929;
}

h2 {
    font-family: 'helvetica', sans-serif;
    font-style: normal; 
    color: #2f2929;
}

h3 {
    font-family: 'helvetica', sans-serif;
    font-style: normal; 
    color: #2f2929;
    font-size: 16px;
}

p {
    font-family: 'helvetica', sans-serif;
    font-style: normal; 
    color: #aeaead; 
}

.navbar {
    z-index: 99999;
    position: sticky;
    top: 0;
    display: flex;
    margin: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 45px;
    box-shadow: 0px 0px 12px 0px #888888;
}

.logo {
    position: absolute;
    display: flex;
    left: 25%;
    top: 25%;
}

.logocircle {
    position: absolute;
    width: 14px;
    height: 14px;
    border-style: inset;
    border-color: red;
    border-radius: 50%;
    border-width: 5px;
}

.logoname {
    padding-left: 20px;
}

.navigation {
    position: absolute;
    display: flex;
    right: 20%;
    top: 25%;
}

.websitetop {
    position: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

.websiteheader {
    padding-top: 180px;

}

.websiteheadersubtitle {
    padding-top: 8px;
}

.websitebanner {
    margin: 0;
    padding-top: 100px;
    box-sizing: border-box;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftbox {
    left: 20%;
    display: flex;
    position: absolute;
    width: 200px;
    height: 200px;
}

.plant1 {
    display: flex;
    position: absolute;
    height: 200px;
    width: 200px;
}

.plant1leaf1 {
    position: absolute;
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    border-radius: 50px 0;
    transform: translate (-50%, -50%);
    right: 40%;
    top: 60px;
}

.plant1leaf2 {
    position: absolute;
    background-color: aquamarine;
    height: 70px;
    width: 70px;
    border-radius: 0 70px;
    transform: translate (-50%, -50%);
    top: 40px;
}

.plant1potlip {
    position: absolute;
    background-color: #c4663f;
    height: 30px;
    width: 100px;
    border-radius: 25px;
    top: 105px;
    left: 9%;
}

.plant1pot {
    position: absolute;
    background-color: #c4663f;
    height: 70px;
    width: 80px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    top: 130px;
    left: 14%;
}

.head {
    z-index: 9999;
    position: absolute;
    width: 360px;
    height: 240px;
}

.hair {
    position: absolute;
    width: 360px;
    height: 80px;
    background: #3e2017;
    border-radius: 0 130px 0 130px;
}

.face {
    position: absolute;
    width: 290px;
    height: 140px;
    background: #ffc69e;
    top: 80px;
    right: 0;
}

.eye-right {
    z-index: 9999;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #2f2929;
    border-radius: 50%;
    top: 46%;
    right: 13%;
}

.eye-left {
    z-index: 9999;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #2f2929;
    border-radius: 50%;
    top: 46%;
    left: 13%;
}

.eye-left:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 15px;
    background: #3d2a1c;
    border-radius: 6px;
    transform: translate(-50%);
    bottom: 140%;
}

.eye-right:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 15px;
    background: #3d2a1c;
    border-radius: 6px;
    transform: translate(-50%);
    bottom: 140%;
}

.glasses-left {
    z-index: 9998;
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 70%;
    background: #ffc69e;
    border-radius: 50%;
    top: 28%;
    left: 4%;
    border-style: outset;
    border-color: white;
    border-width: 15px;
}

.glasses-right {
    z-index: 9998;
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 70%;
    background: #ffc69e;
    border-radius: 50%;
    top: 28%;
    right: 4.5%;
    border-style: outset;
    border-color: white;
    border-width: 15px;
}

.glasses-bridge {
    z-index: 9999;
    position: absolute;
    opacity: 80%;
    background-color: white;
    width: 80px;
    height: 20px;
    top: 60%;  
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px 5px 5px 5px;
}

.nose {
    position: absolute;
    width: 40px;
    height: 100px;
    background: #ff9978;
    border-radius: 10px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ear-left {
    position: absolute;
    width: 25px;
    height: 65px;
    background: #e25a2b;
    top: 75px;
    left: -25px;
    border-radius: 50px 0 0 50px;
}

.ear-right {
    position: absolute;
    width: 25px;
    height: 65px;
    background: #e25a2b;
    top: 75px;
    right: -25px;
    border-radius: 0 50px 50px 0;
}

.rightbox {
    z-index: 0;
    right: 20%;
    display: flex;
    position: absolute;
    width: 200px;
    height: 200px;
}

.cat1 {
    position: absolute;
    display: flex;
    position: absolute;
    height: 500px;
    width: 350px;
}

.cathead {
    position: absolute;
    top: -20px;
    left: 3px;
    background-color: #f7a75e;
    height: 100px;
    width: 130px;
    border-radius: 30px;
}

.catear1 {
    position: absolute;
    top: -25px;
    left: 15%;
    height: 0;
    width: 0;
    border-bottom: 30px solid #f7a75e;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.catear2 {
    position: absolute;
    top: -25px;
    right: 15%;
    height: 0;
    width: 0;
    border-bottom: 30px solid #f7a75e;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.cateye1 {
    position: absolute;
    background-color: #2f2929;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 20%;
    top: 40px;
}

.cateye2 {
    position: absolute;
    background-color: #2f2929;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    right: 20%;
    top: 40px;
}

.catnose {
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid #cc8250;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 45%;
    top: 65px;
}

.catbody {
    background-color: #f7a75e;
    height: 120px;
    width: 130px;
    position: absolute;
    left: 30px;
    border-top-right-radius: 50px;
    top: 80px;
}

.catcollar {
    position: absolute;
    background-color: #982220;
    height: 15px;
    width: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.catpaw1 {
    background-color: #f7a75e;
    height: 20px;
    width: 20px;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: -10px;
}

.catpaw2 {
    background-color: #f7a75e;
    height: 20px;
    width: 20px;
    left: 50px;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: -10px;
}

.cattail {
    position: absolute;
    background-color: #f7a75e;
    height: 20px;
    width: 80px;
    bottom: 0px;
    right: -70px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.assignmentsheader {
    background-color: #ffffff;
    padding-top: 150px;
}

.assignmentsheadersubtitle {
        background-color: #ffffff;
        padding-top: 8px;

}

.assignments {
    position: absolute;
    display: block;
    padding-top: 100px;
    background-color: #ffffff;
    width: 100vw;
}

.assignmentsrow1{
    display: flex;
    padding: 30px;
    width: 100vw;
    margin-left: 50px;
}

.websitesketches {
    flex: 50%;
}

.websitesketcheslogo {
    position: absolute;
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.websitesketchesdesc {
    display: flex;
}

.independentstudies {
    flex: 50%;
}

.independentstudieslogo {
    position: absolute;
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.independentstudiesdesc {
    display: flex;
}

.assignmentsrow2 {
    display: flex;
    padding: 30px;
    width: 100vw;
    margin-left: 50px;
    margin-right: 50px;
}

.arenachannel {
    flex: 50%;
}

.arenachannellogo {
    position: absolute;
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.arenachanneldesc {
    display: flex;
}

.instagram {
    flex: 50%;
}

.instagramlogo {
    position: absolute;
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.instagramdesc {
    display: flex;
}

.assignmentsrow3{
    display: flex;
    padding: 30px;
    width: 100vw;
    margin-left: 50px;
    margin-right: 50px;
}

.classzoom {
    flex: 50%;
}

.classzoomlogo {
    position: absolute;
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.classzoomdesc {
    display: flex;
}

.classwebsite {
    flex: 50%;
}

.classwebsitelogo {
    position: absolute;
    background-color: aqua;
    width: 50px;
    height: 50px;
}

.classwebsitedesc {
    display: flex;
}